// Banner
.bnnr {
  background-size: fill;
  -moz-background-size: fill;
  -o-background-size: fill;
  -webkit-background-size: fill;
  background: #fff url('../img/wood-banner.png') no-repeat center center;
  color: #fff;
  padding-bottom: 25px;
  text-transform: none;

  @media screen and (max-width: $break-small) {
    margin-bottom: 15px;
  }

  a {
    color: #ef5a28;
    text-shadow: -2px 2px #000;

    &:hover {
      text-decoration: 0;
      text-shadow: none;
    }
  }

  .slgn {
    font-size: 1.5em;
    padding-top: 25px;

    @media screen and (max-width: $break-small) {
      font-size: 1em;
    }

    span {
      display: block;
    }
  }
}
