// Buttons
.btn {
  border-radius: 0;

  // Facebook Button
  &.btn-fcbk {
    background-color: #044170;
    background-image: url('../img/icon-facebook.png');
    background-repeat: no-repeat;
    background-position: 5px center;
  }

  // Forum Button
  &.btn-frm {
    background-color: #7f3015;
    background-image: url('../img/icon-forum.png');
    background-repeat: no-repeat;
    background-position: 5px center;
  }

  // Lastest Posts Button
  &.btn-ltst-psts {
    background-color: #4b4b4b;
    background-image: url('../img/icon-new.png');
    background-repeat: no-repeat;
    background-position: 5px center;
  }

  // Swag Button
  &.btn-swg {
    background-color: #e15525;
    background-image: url('../img/icon-fish-hawk.png');
    background-repeat: no-repeat;
    background-position: 5px center;
  }
}
