// Buttons
.btn {
  border-radius: 0;

  // Facebook Button
  &.btn-fcbk {
    background: rgba(4,65,112,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(4,65,112,1) 0%, rgba(3,37,64,1) 67%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(4,65,112,1)), color-stop(67%, rgba(3,37,64,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(4,65,112,1) 0%, rgba(3,37,64,1) 67%, rgba(0,0,0,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(4,65,112,1) 0%, rgba(3,37,64,1) 67%, rgba(0,0,0,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(4,65,112,1) 0%, rgba(3,37,64,1) 67%, rgba(0,0,0,1) 100%);
    background: radial-gradient(ellipse at center, rgba(4,65,112,1) 0%, rgba(3,37,64,1) 67%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#044170', endColorstr='#000000', GradientType=1 );
  }

  // Forum Button
  &.btn-frm {
    background: rgba(127,48,21,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(127,48,21,1) 0%, rgba(82,31,14,1) 67%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(127,48,21,1)), color-stop(67%, rgba(82,31,14,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(127,48,21,1) 0%, rgba(82,31,14,1) 67%, rgba(0,0,0,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(127,48,21,1) 0%, rgba(82,31,14,1) 67%, rgba(0,0,0,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(127,48,21,1) 0%, rgba(82,31,14,1) 67%, rgba(0,0,0,1) 100%);
    background: radial-gradient(ellipse at center, rgba(127,48,21,1) 0%, rgba(82,31,14,1) 67%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f3015', endColorstr='#000000', GradientType=1 );
  }

  // Lastest Posts Button
  &.btn-ltst-psts {
    background: rgba(75,75,75,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(75,75,75,1) 0%, rgba(48,48,48,1) 67%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(75,75,75,1)), color-stop(67%, rgba(48,48,48,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(75,75,75,1) 0%, rgba(48,48,48,1) 67%, rgba(0,0,0,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(75,75,75,1) 0%, rgba(48,48,48,1) 67%, rgba(0,0,0,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(75,75,75,1) 0%, rgba(48,48,48,1) 67%, rgba(0,0,0,1) 100%);
    background: radial-gradient(ellipse at center, rgba(75,75,75,1) 0%, rgba(48,48,48,1) 67%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b4b4b', endColorstr='#000000', GradientType=1 );
  }

  // Swag Button
  &.btn-swg {
    background: rgba(225,84,37,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(225,84,37,1) 0%, rgba(94,35,16,1) 67%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(225,84,37,1)), color-stop(67%, rgba(94,35,16,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(225,84,37,1) 0%, rgba(94,35,16,1) 67%, rgba(0,0,0,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(225,84,37,1) 0%, rgba(94,35,16,1) 67%, rgba(0,0,0,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(225,84,37,1) 0%, rgba(94,35,16,1) 67%, rgba(0,0,0,1) 100%);
    background: radial-gradient(ellipse at center, rgba(225,84,37,1) 0%, rgba(94,35,16,1) 67%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e15425', endColorstr='#000000', GradientType=1 );
  }
}
