// Header
@import 'logo';
@import 'main-nav';
@import 'banner';

//Main
@import 'sec-nav';
@import 'feature';
@import 'map';
@import 'supporters';

//Buttons
@import 'buttons';

// Footer
@import 'footer';

body {
  background: url('../img/background-image.jpg') no-repeat top center #000;
  color: #fff;
  text-transform: uppercase;
}

.container {
  padding: 0;
}

main {
  background-color: #fff;
  color: #000;
  padding-top: 50px;
  padding-bottom: 50px;
}
