//Variables
$break-xsmall: 320px;
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;

// Header
@import 'logo';
@import 'main-nav';
@import 'banner';

//Main
@import 'sec-nav';
@import 'feature';
@import 'map';
@import 'supporters';

//Buttons
@import 'buttons';

// Footer
@import 'footer';

body {
  background: url('../img/background-image.jpg') no-repeat top center #000;
  color: #fff;
  text-transform: uppercase;
}

.container {

  @media screen and (max-width: $break-small) {
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow: hidden;
    overflow-y: auto;
  }
}

main {
  background-color: #fff;
  color: #000;
  padding-bottom: 25px;
  padding-top: 50px;

  @media screen and (max-width: $break-small) {
    padding-top: 0;
  }
}
