.logo {
  background-color: none;
  height: 199px;
  margin: auto;
  width: 328px; }

.navbar {
  font-weight: 100;
  margin-bottom: 0;
  padding: 20px 3px; }
  .navbar li a {
    border-left: solid 1px #ccc;
    padding: 5px 10px; }
    @media screen and (max-width: 992px) {
      .navbar li a {
        font-size: .8em; } }
  .navbar li:nth-child(3) a {
    border: 0; }
  .navbar .btn {
    background-image: none !important;
    color: #fff !important;
    margin-right: 10px;
    padding-left: 25px;
    padding-right: 25px; }
    .navbar .btn a {
      border: 0; }
  .navbar .navbar-brand {
    color: #e15525; }
    .navbar .navbar-brand > img {
      height: 35px;
      margin-right: 15px;
      margin-top: -10px; }

.bnnr {
  background-size: fill;
  -moz-background-size: fill;
  -o-background-size: fill;
  -webkit-background-size: fill;
  background: #fff url("../img/wood-banner.png") no-repeat center center;
  color: #fff;
  padding-bottom: 25px;
  text-transform: none; }
  @media screen and (max-width: 768px) {
    .bnnr {
      margin-bottom: 15px; } }
  .bnnr a {
    color: #ef5a28;
    text-shadow: -2px 2px #000; }
    .bnnr a:hover {
      text-decoration: 0;
      text-shadow: none; }
  .bnnr .slgn {
    font-size: 1.5em;
    padding-top: 25px; }
    .bnnr .slgn span {
      display: block; }

.scndry-nav li {
  list-style: none;
  margin-bottom: 20px; }
  @media screen and (max-width: 768px) {
    .scndry-nav li {
      margin-bottom: 0; } }
  .scndry-nav li a {
    color: #fff;
    font-weight: 100;
    min-height: 80px;
    overflow-wrap: break-word;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 85px;
    text-align: left;
    text-transform: uppercase;
    white-space: normal; }

.ftr-rprt {
  background: url("../img/feature-border.png") no-repeat center center;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%; }
  .ftr-rprt img {
    width: 75%; }
  .ftr-rprt h2 {
    color: #e15525;
    padding: 15px 5px 10px 30px;
    margin-top: 10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 700; }
  .ftr-rprt .dl-horizontal {
    color: #fff;
    padding: 15px 5px 30px 30px; }
    .ftr-rprt .dl-horizontal dt {
      margin-left: 15px;
      margin-right: 15px;
      text-align: left;
      width: inherit; }
    .ftr-rprt .dl-horizontal dd {
      margin-left: 0; }

.nav-map div {
  background: url("../img/navionics-banner.png") no-repeat left center;
  background-color: #000;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
  display: block;
  font-size: 3em;
  margin-bottom: 30px;
  margin-top: 50px;
  padding: 50px 20px 50px 130px; }
  @media screen and (max-width: 992px) {
    .nav-map div {
      font-size: 2em; } }
  @media screen and (max-width: 768px) {
    .nav-map div {
      font-size: 1.2em; } }
  .nav-map div:hover {
    text-decoration: none; }
    .nav-map div:hover p {
      text-shadow: -4px 4px #333; }
.nav-map p {
  line-height: 1em;
  margin: 0;
  padding: 0;
  text-shadow: -2px 2px #000; }
  .nav-map p:nth-child(2) {
    color: #e15525;
    font-weight: 700; }

.spprtrs .spprtrs-hdr {
  background: url("../img/supporters-top.png") no-repeat left center;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  color: #fff;
  min-height: 88px; }
  .spprtrs .spprtrs-hdr h2 {
    padding: 5px 5px 5px 15px;
    text-shadow: -2px 2px #000; }
    @media screen and (max-width: 992px) {
      .spprtrs .spprtrs-hdr h2 {
        font-size: 2em; } }
    @media screen and (max-width: 768px) {
      .spprtrs .spprtrs-hdr h2 {
        font-size: 1.2em; } }
.spprtrs .spprtrs-body .thumbnail {
  background-color: #ef5a28; }
  .spprtrs .spprtrs-body .thumbnail:hover {
    opacity: .8; }
.spprtrs .spprtrs-ftr {
  background: url("../img/supporters-bottom.png") no-repeat left center;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  min-height: 90px; }

.btn {
  border-radius: 0; }
  .btn.btn-fcbk {
    background-color: #044170;
    background-image: url("../img/icon-facebook.png");
    background-position: 5px center;
    background-repeat: no-repeat; }
  .btn.btn-frm {
    background-color: #7f3015;
    background-image: url("../img/icon-forum.png");
    background-position: 5px center;
    background-repeat: no-repeat; }
  .btn.btn-ltst-psts {
    background-color: #4b4b4b;
    background-image: url("../img/icon-new.png");
    background-position: 5px center;
    background-repeat: no-repeat; }
  .btn.btn-swg {
    background-color: #e15525;
    background-image: url("../img/icon-fish-hawk.png");
    background-position: 5px center;
    background-repeat: no-repeat; }

.bg-ftr {
  background-color: #ef5a28;
  clear: both;
  padding: 50px 5px 200px; }
  .bg-ftr li {
    margin-bottom: 5px; }
    .bg-ftr li.heading {
      margin-bottom: 10px; }
    .bg-ftr li a {
      color: #fff;
      font-weight: 100;
      margin-bottom: 20px; }

.bttm-ftr {
  background-color: #fff;
  clear: both;
  color: #aaa;
  padding: 25px 100px 75px; }

body {
  background: url("../img/background-image.jpg") no-repeat top center #000;
  color: #fff;
  text-transform: uppercase; }

@media screen and (max-width: 768px) {
  .container {
    margin: 0;
    padding: 0;
    background-color: #fff; } }

main {
  background-color: #fff;
  color: #000;
  padding-bottom: 50px;
  padding-top: 50px; }
  @media screen and (max-width: 768px) {
    main {
      padding-top: 0; } }

/*# sourceMappingURL=custom.css.map */
