// Nav map
.nav-map {

  div {
    background: url('../img/navionics-banner.png') no-repeat left center;
    background-color: #000;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    display: block;
    font-size: 3em;
    margin-bottom: 30px;
    margin-top: 50px;
    padding: 50px 20px 50px 130px;

    @media screen and (max-width: $break-medium) {
      font-size: 2em;
    }

    @media screen and (max-width: $break-small) {
      font-size: 1.2em;
    }

    &:hover {
      text-decoration: none;

      p {
        text-shadow: -4px 4px #333;
      }
    }
  }

  p {
    line-height: 1em;
    margin: 0;
    padding: 0;
    text-shadow: -2px 2px #000;

    &:nth-child(2) {
      color: #e15525;
      font-weight: 700;
    }
  }
}

